<div class="container" data-ng-init="populateTable()">
	<form name="medForm"  novalidate>
	<div class="alert alert-danger ng-hide" role="alert" data-ng-show="api.error">
		{{api.error}}	
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			Liste Mediation
		</div>
		<div class="panel-body">
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon"><span class="glyphicon glyphicon-search"></span></span>
			  <input type="text" data-ng-model="searchText" class="form-control" placeholder="Text &agrave; filtrer" aria-describedby="basic-addon">
			</div>
			<div class="input-group" style="margin-bottom:1em;margin-top:2em">
			  <span class="input-group-addon" id="basic-calendar"><span class="glyphicon glyphicon-calendar"></span></span>
			  <input type="date" name="inputDateId" placeholder="Format de date : yyyy-mm-dd" data-ng-model="inputDate" class="form-control" aria-describedby="basic-calendar">
			  <span class="form-control label-warning ngHide" data-ng-show="!medForm.inputDateId.$valid" data-ng-cloak>La date est mal format&eacute;e</span>
			</div>

			<button class="btn btn-primary" type="submit" data-ng-click="refreshTable()">Recherche</button>
			
		</div>
			<table data-ng-table="medTable" class="table table-striped" data-show-filter="true">
					<tr data-ng-repeat="row in $data">
						<td title="'Flux Fct'" data-filter="{fluxDesc: 'text'}" data-sortable="'fluxDesc'">{{row.fluxDesc}}</td>
						<td title="'M&eacute;diation'" data-filter="{medName: 'text'}" data-sortable="'medName'">{{row.medName}}</td>
						<td title="'Count Ok'">{{row.cnt_ok}}</td>
						<td title="'Count Enc'">{{row.cnt_enc}}</td>
						<td title="'Count Ko'">{{row.cnt_ko}}</td>
						<td title="'Count Tot'">{{row.cnt}}</td>
					</tr>		
			</table>		
	</div>
	</form>
</div>